<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- header 조각 -->
<div th:replace="~{fragments/header :: main-header}"></div>

<body>

    <h1>스프링 부트로 시작하는 웹 서비스</h1>

    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a th:href="@{/posts/save}" role="button" class="btn btn-dark">글 등록</a>

                <div th:if="${userName}">
                    Logged in as : <span id="user" th:text="${userName}"></span>
                    <a th:href="@{/logout}" class="btn btn-secondary active" role="button">Logout</a>
                    <a th:href="@{/users/update}" class="btn btn-warning active" role="button">등업</a>
                </div>
                <div th:unless="${userName}">
                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary active" role="button">Google Login</a>
                    <a th:href="@{/oauth2/authorization/naver}" class="btn btn-success active" role="button">Naver Login</a>
                    <a th:href="@{/oauth2/authorization/kakao}" class="btn btn-warning active" role="button">Kakao Login</a>
                </div>
            </div>
        </div>
        <br/>

        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">id</td>
                <td><a th:href="@{/posts/update/{id}(id = ${post.id})}" th:text="${post.title}">title</a></td>
                <td th:text="${post.author}">author</td>
                <td th:text="${post.modifiedDate}">modifiedDate</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- footer 조각 -->
    <div th:replace="~{fragments/footer :: main-footer}"></div>

</body>
</html>